<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<Right><a href="">Login</a></Right>
<title>Shoeworld.COM</title>
<left><h1>Welcome to Shoeworld.COM</h1></left>



<!--start header-->

<table border="1" width="100%" cellpadding="0" cellspacing="0" bgcolor="#f3971b">

<tr>
<td>
<table border="1" width="100%" cellpadding="0" cellsapcing="0">
</table>
</td>
</tr>
</table>

<!--end header-->
<form action = "{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
<style>
div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}

h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
p style="color:red
</style>
</head>
<body>

<div class="carousel-inner">
  <div class="item active">
   <img src="{{url_for('static', filename='banner.jpg')}}" />
   
    <h1>Welcome to Fashionista</h1>
    <p> Put your Shoes on & shine!!!</p>
  </div>

           
           
            <div>
            <input  action="/action_page.php" type="file" id="File" name="file" accept="image/gif, image/jpeg, image/png" method=post enctype=multipart/form-data value="Search" placeholder="Search.." ></input>
    <input type="submit" value="Submit"></div>
</body>




</html>